.player-detail {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
}
.search {
    margin-bottom: 1em;
}
.player-item a {
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}
.player-item a:hover {
    text-decoration: underline;
}
.qb {
    color: red;
    font-weight: bold;
}
.rb {
    color: green;
    font-weight: bold;
}
.wr {
    color: blue;
    font-weight: bold;
}
.te {
    color: purple;
    font-weight: bold;
}
.k {
    color: orange;
    font-weight: bold;
}