package components

import (
    m "goth-ffb-players/internal/models"
)

templ PlayerDetail(player m.Player) {
    @Base(player.Name.Full) {
        <div class="player-detail">
            <p><strong>Position:</strong> {player.Position}</p>
            <p><strong>Jersey:</strong> {player.Jersey}</p>
            <p><strong>Team:</strong> {player.Team}</p>
            <p>{player.StatsXML.XML}</p>
        </div>
    }
}